<!--menu-->
<div id="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Browse Recipes</a></li>
        <li><a href="#">Profile</a></li>
    </ul>
</div>

<h1>The customer information page</h1>