<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/recipes">Freedom Meals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Header -->
  <!--Exercpted code on inserting background image from https://www.w3schools.com/html/html_images_background.asp -->
	<header class="bg-primary py-5 mb-5" style="background-image: url('images/banner.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container h-100">
      <div class="row h-100 align-items-start">
        <div class="col-lg-4 order-2">
        </div>
        <div class="col order-1">
          <h1 class="display-4 text-white mt-5 mb-2" style="font-weight: 400">Freedom Meals</h1>
          <p class="lead mb-5 text-white-50" style="font-weight: 400"><font color="white">Meal planning, your way.</font></p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">

    <div class="row" id="loginSection">
      <div class="col-md-8 mb-5">
        <h2>Welcome Back!</h2>       
		  <form action="login/auth" method="POST"> <!--Form modifed from a template at https://getbootstrap.com/docs/4.0/components/forms/-->
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Email">
			  </div>
			</div>
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  </div>
			</div>
			<br>
			<input type="submit" class="btn btn-primary" id="loginButton">Log In</button>
			<span>NEED TO CODE: On click, send SELECT command to Customers table where email = this.email AND password = password. IF match, display checkout page. ELSE, display error message.</span>
		  </form>
      </div>
    </div>
    <!-- /.row -->  

	<div class="row" id="signuphereSection">
		<div class="col-md-8 mb-5">
			<button type="submit" class="btn btn-primary" id="signuphereButton">Sign Up Here!</button>
		</div>
	</div>

    <div class="row" id="signupSection">
      <div class="col-md-8 mb-5">
        <h2>Sign Up Here!</h2>
		<br>
		  <form action="login/" method="POST"> <!--Form modifed from a template at https://getbootstrap.com/docs/4.0/components/forms/-->
			<h5>Customer Information</h5>
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label for="inputFirstName">First Name</label>
				<input type="text" class="form-control" name="inputFirstName" placeholder="Jane">
			  </div>
			  <div class="form-group col-md-6">
				<label for="inputLastName">Last Name</label>
				<input type="text" class="form-control" name="inputLastName" placeholder="Doe">
			  </div>
			</div>
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label for="inputEmail">Email</label>
				<input type="email" class="form-control" name="inputEmail" placeholder="Email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group col-md-6">
				<label for="inputPhoneNumber">Phone Number</label>
				<input type="text" class="form-control" name="inputPhoneNumber" placeholder="9197731234">
			  </div>
			</div>
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" name="inputPassword" placeholder="Password">
			  </div>
			</div>
			<input type="submit" class="btn btn-primary" id="signupButton">Sign Up</button>
			<span>NEED TO CODE: On click, send INSERT command to Customers table.</span>
		  </form>
      </div>
	</div>
    <!-- /.row -->
	
	<div id="adminSection">
	<a href="admin.html">Admin?</a>
	</div>
	
	<br><br>
  
  </div>
  <!-- /.container -->

  
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--<script src="js/login.js"></script>-->